<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aviso de empleado suspendido</title>
</head>

<body style=" font-family: CenturyGothic, AppleGothic, sans-serif;">
    <center>
        <p style=" text-align: justify; font-size: 20px;">
            <b>{{notify}}</b>
        </p>

<div class="card text-white mb-3" style="max-width: 40rem; background-color: #0D47A1;">
                <div class="card-header" style="text-align: center; font-size: x-large;font-weight: bold;  color: white;">Aviso</div>
                <div class="card-body" style="background-color: white; color: black;">
                                       <p class="card-text";  style="text-align: center; font-size: x-large;font-weight: bold">Hola {{username}}</p>
                    <p class="card-text"; style="text-align: center;font-weight: bold"> Por favor, ingrese el siguiente codigo <strong><h1>{{codigo}}</h1></strong> 
                    antes de su expiracion tiene 15 minutos</p></p>
                </div>
            </div>       


        <div style="height: 2rem; max-width: 40rem; background-color:#3171e0;  z-index: 2;">
            <p style="padding: 1%; color: white;">
                <strong>NOTA.-</strong> Mensaje generado desde el sistema, por favor no responder a este correo.
            </p>
        </div>
    </center>
</body>

</html>